<header class="site-header">

  <div class="wrapper">

    <h1 class="site-title"><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
    <h3 class="site-meta">{{ site.tagline }}</h3>

    <nav class="site-nav">

      <div class="trigger">

        {% for page in site.pages %}
        {% if page.title %}
        <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
        {% endif %}
        {% endfor %}

    	{% if site.ShowContactInfo == "True" %}
    	<div class="contact">
		{% if site.email %}
		<a class="page-link" href="mailto:{{site.email}}" title="mailto: {{site.email}}"><i class="fa fa-envelope fa-2x"/></i></a>
		{% endif %}
		{% if site.github_username %}
		<a class="page-link" href="https://github.com/{{site.github_username}}" title="GithubID: {{site.github_username}}"><i class="fa fa-github fa-2x"></i></a>
		{% endif %}
		</div>
		{% endif %}

      </div>
    </nav>

  </div>

</header>
