<header class="post-header">
    <h1 itemprop="name" class="post-title">
        <a itemprop="url" class="post-link" href="{{ include.param.url | prepend: site.baseurl }}">{{ include.param.title }}</a>
    </h1>
    <meta itemprop="keywords" content="{{ include.param.tags | join: ',' }}" />
    <p class="post-meta">
    {{ site.locales[site.default_locale].PostedInCategories }}
    {% for cat in include.param.categories %}
    <a href="{{site.baseurl}}/categories/#{{ cat }}">{{ cat }}</a>&nbsp;
    {% endfor %}
    {% if include.param.tags != empty %}
    {{ site.locales[site.default_locale].Taggedwith }}
    {% for tag in include.param.tags %}
    <a href="{{ site.baseurl }}/tags/#{{ tag }}" title="{{ tag }}">{{ tag }} </a>{% unless include.param.tags.last == tag %}, {% endunless %}
    {% endfor %}
    {% endif %}
    <time itemprop="datePublished" datetime="{{ include.param.date | date: '%Y-%m-%d' }}">
    {{ site.locales[site.default_locale].PostDate }}{{ include.param.date | date: "%Y-%m-%d" }}
    </time>
    </p>
</header> 