<!DOCTYPE html>
<html>

{% include head.html %}

<body>

<div class="container">

    {% include header.html %}


    <div class="page-content">
        <div id="toc" style="display: block;width: 200px;position: fixed;margin-left: -230px;margin-top: -80px"></div>
        <div class="wrapper">
            <div class="post" itemscope itemtype="http://schema.org/BlogPosting">

                {% include post_header.html param=page %}

                <article class="post-content" itemprop="articleBody">
                    {{ content }}
                </article>
                {% include ccc.html %}
                <hr/>
            </div>
            {% include page_pagination.html%}
            {% include comments.html %}
        </div>

    </div>

    {% include post_pagination.html %}
    {% include footer.html %}

</div>

</body>

</html>
